input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  border-color: #6c63ff;
}

button {
  padding: 10px 20px;
  background-color: #6c63ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #524bd4;
}

.custom-select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #555;
  background-color: #fff;
  appearance: none;
  outline: none;
  cursor: pointer;
  width: 13rem;
  margin: 1rem;
}

.custom-select::after {
  content: "\30BC";
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  pointer-events: none;
}

.custom-select:hover,
.custom-select:focus {
  border-color: dodgerblue;
}

.custom-select:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

