#header{
  background-color: #282c34;
  min-height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 4%;
  position: sticky;
  top: 0;

  font-size: calc(10px + 2vmin);
  color: white;
}

img{
  height: 30px;
  padding-right: 6px;
}