/* #import {'bootstrap/dist/css/bootstrap.css'}; */

.mainclass{
  margin-left: 250px;
}

.subheading{
  background-color: aqua;
  padding: .8rem;
  text-align: center;
  margin-bottom: 1rem;
  /* margin-bottom: 2%; */
}
