.table-container {
  width: 100%;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  /* border-collapse: collapse; */
  border: 3px solid black;
 
 
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
}

.table th {
  background-color: #f1f1f1;
  font-weight: bold;
}

.table td {
  border-bottom: 1px solid #ddd;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.page-link {
  display: inline-block;
  padding: 8px 12px;
  margin-right: 5px;
  border: none;
  background-color: #eaeaea;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.page-link:hover {
  background-color: #ddd;
}

.page-link.active {
  background-color: #333;
  color: #fff;
}
